/* COLORS */
$plex-ui:     #CC7B19;
$plex-button: #E5A00D;
$plex-text:   #FF8A00;
$plex-hover:  #f9BE03;
$plex-black:  #323232;
$form-gray:   #868C96;
$header-gray: #575B61;
$fail-red:    #B94A48;
$good-green:  #468847;
$white:       #FFFFFF;
$black:       #000000;
