@import 'libs/animate';
@import 'libs/icomoon';

@font-face {
    font-family: Open Sans;
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

/* COLORS */
$plex-ui:     #CC7B19;
$plex-button: #E5A00D;
$plex-text:   #FF8A00;
$plex-hover:  #f9BE03;
$form-gray:   #868C96;
$header-gray: #575B61;
$fail-red:    #B94A48;
$good-green:  #468847;
$white:       #FFFFFF;
$black:       #000000;

body {
  background-color: #323232;
  /*background-color: transparent;*/
  color: $white;
  font-family: 'Open Sans';
  overflow: scroll;
}

.form-wrapper {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 4px;
  display: block;
  background-color: $white;
}

form {
  background-color: $white;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
}

header {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding-top: 10px;

  img {
    width: 100%;
    max-width: 150px;
    margin: 15px auto;
    display: block;
  }
}

label {
  text-align: center;
  display: block;
  margin: 10px auto;
  max-width: 130px;
  font-size: 0.75em;
  border: none;
  box-shadow: none;
}

h1 {
  font-size: 1em;
  text-align: center;
  margin: 0 auto 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'OpenSans-Bold';
}

h2 {
  text-align: center;
  font-size: 0.8em;
  color: $header-gray;
  font-size: 1.75em;
}

h3 {
  text-align: center;
  font-family: 'OpenSans-SemiboldItalic';
}

h4 {
  margin: 10px;
}

input {
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
  border: none;
  height: 30px;
  padding: 10px;
  color: $form-gray;
  font-size: 1em;
  transition: all .3s ease-in;

  &:active, &:focus, &:focus::-webkit-input-placeholder {
    outline: none;
    color: $plex-text;
  }

  &::-webkit-input-placeholder {
    color: $form-gray;
    transition: all .3s ease-in;
  }

  .parsley-error:focus::-webkit-input-placeholder {
    color: $form-gray;
  }
}

.icomoon {
  border-radius: 50%;
  display: inline-block;
  color: $form-gray;
  border: 2px solid $form-gray;
  padding: 3px;
  transition: all .3s ease-in;
  width: 16px;
  height: 16px;
  font-size: 1em;
  text-align: center;
  margin-left: 5px;

  &-focus {
    color: $plex-text;
    border: 2px solid $plex-text;
  }

  &-hipster {
    color: $plex-text;
    font-size: 1.75em;
    text-align: center;
    display: block;
    margin: 50px auto 0;
  }

  &-error, &-error.icomoon-focus {
    color: $fail-red;
    border: 2px solid $fail-red;
  }
}

.icon-mail-envelope-closed {
  transform: translateX(-5px);
}

.input-wrap {
  border: 2px solid #F2F3F4;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.input-field {
  border-radius: 2px;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 10px;

  &:first-child {
    border-bottom: 2px solid #F2F3F4;
  }
}

button.plex-button {
  height: 45px;
  width: 100%;
  outline: 0;
  border: none;
}

.plex-button {
  background-color: $plex-button;
  border-radius: 3px;
  display: block;
  margin: 20px auto;
  color: $white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  transition: all .3s ease-in;
  max-width: 300px;

  &:hover {
    background-color: $plex-hover;
  }

  &:active {
    transform: scale(.98);
  }
}

#logout-button {
  display: none;
  margin-top: 50px;
}

.media-wrapper {
  max-width: 400px;
  margin: 15px auto;
  padding: 25px;
}

.user-info-wrap {
  display: inline-block;
  float: left;
  width: 50%;
  position: relative;
}

.media-info-wrap {
  display: inline-block;
  float: left;
  width: 50%;
}

.media-year {
  margin: 0 10px 0;
}

.media-content-wrap, .media-image {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.media-duration-bar {
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: $black;
  opacity: 0.8;
}

.media-duration-bar-highlight {
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: $plex-ui;
  z-index: 1;
  transition: width 1s;
}

.user-image {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 10px;
  display: inline-block;
  float: right;
}

.user-name {
  display: inline-block;
  float: right;
  margin-left: 10px;
  margin-top: 15px;
}

.loader {
  display: none;
  margin: 0 auto;
  font-size: 3px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255,255,255,.2);
  border-right: 1.1em solid rgba(255,255,255,.2);
  border-bottom: 1.1em solid rgba(255,255,255,.2);
  border-left: 1.1em solid $white;
  transform: translateZ(0);
  animation: spin 1.1s infinite linear;

  &, &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
@keyframes spin {
    0% {
      transform: rotate(0)
    }
    100% {
      transform: rotate(360deg)
    }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #323232;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0;
}

/*.arrow:before {
  content: "";
  height: 0;
  width: 0;
  border-width: 0 8px 12px 8px;
  border-style: solid;
  border-color: transparent transparent $white transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  position: relative;
  padding: 12px 0;
}*/

/* Parsley CSS */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  /*color: $good-green;*/
  /*background-color: #DFF0D8;*/
  /*border: 1px solid #D6E9C6;*/
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  /*color: $fail-red;*/
  /*background-color: #F2DEDE;*/
  /*border: 1px solid #EED3D7;*/
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 8px;
  list-style-type: none;
  opacity: 0;
  color: $fail-red;
  background-color: #F2DEDE;
  display: block;
  transition: all .3s ease-in;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #F2DEDE;
    position: absolute;
    top: -7px;
    left: 10px;
  }
}

.form-error {
  border-bottom-color: rgba(240,100,100,.2);
  border-bottom: solid 1px;
  padding: 27px 25px 25px;
  border-radius: 4px 4px 0 0;
  line-height: 1.3em;
  background-color: #F2DEDE;
  color: $fail-red;
  text-align: center;
  display: none;
}

.parsley-errors-list.filled {
  opacity: 1;
}
