@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mo2v4n');
  src:  url('fonts/icomoon.eot?mo2v4n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mo2v4n') format('truetype'),
    url('fonts/icomoon.woff?mo2v4n') format('woff'),
    url('fonts/icomoon.svg?mo2v4n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\e902";
}
.icon-repeat:before {
  content: "\e909";
}
.icon-bullhorn:before {
  content: "\e905";
}
.icon-cog2:before {
  content: "\e906";
}
.icon-gear3:before {
  content: "\e906";
}
.icon-gear:before {
  content: "\e907";
}
.icon-cog:before {
  content: "\e908";
}
.icon-gear2:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e908";
}
.icon-options:before {
  content: "\e908";
}
.icon-generate:before {
  content: "\e908";
}
.icon-x:before {
  content: "\e904";
}
.icon-bullhorn2:before {
  content: "\e91a";
}
.icon-cog3:before {
  content: "\e994";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-hipster2:before {
  content: "\e9fa";
}
.icon-key:before {
  content: "\e900";
}
.icon-mail-envelope-closed:before {
  content: "\e901";
}
.icon-display:before {
  content: "\e903";
}
.icon-screen:before {
  content: "\e903";
}
.icon-pc:before {
  content: "\e903";
}
.icon-computer:before {
  content: "\e903";
}
.icon-desktop:before {
  content: "\e903";
}

